.bg {
    /* The image used */
    background-image: url("../images/backgrounds/Domari.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sht-pane {
    background-color: ghostwhite;
    opacity: 0.8;
}
