@using ROB.Blazor.Client.ViewModels

<div class="character-details transition-height-scale" style="@GetCollapsedState()">
    <span class="oi oi-list" style="color:@(Character.GetFactionColor(Hidden))"></span>
    <div class="grid-stats-6">
        @foreach (ROB.Blazor.Shared.Models.Stat stat in new[] { Character.RM, Character.EVA, Character.AR, Character.PDR, Character.Size, Character.Reach })
        {
            <span class="tooltip-handle">
                @stat.Abbreviation
                <span class="tooltip-text">@stat.Name</span>
            </span>
            <input @bind="@stat.Value" readonly />
        }
    </div>
</div>

@code {
    [CascadingParameter(Name = "Character")]
    protected CharacterViewModel Character { get; set; }

    [Parameter]
    public bool Hidden { get; set; }

    private string GetCollapsedState()
    {
        double itemScale = 2.5;
        int height = (int)Math.Round(3 + itemScale);
        if (Hidden)
            return "max-height: 0;";
        else
            return $"max-height: {height}rem;";
    }

    protected override async Task OnInitializedAsync()
    {
        Character.StatsChanged += StateHasChanged;
    }
}
