@using ROB.Blazor.Client.ViewModels

<div class="main-stats-offense" hidden="@Hidden">
    <div class="offense-wrapper">
        <span class="oi oi-eyedropper" style="color:@(Character.GetFactionColor(Hidden))"></span>
        <div class="sheet-wrapper">
            <CharacterListableItemComponent Title="React?" ListedItems="Character.Reactions" Actionable="false"></CharacterListableItemComponent>
            <CharacterListableItemComponent Title="Traits" ListedItems="Character.Traits" Actionable="true" Icon="oi oi-random" ActionClicked="ActionClicked"></CharacterListableItemComponent>
            <CharacterListableItemComponent Title="Actions" ListedItems="Character.Actions" Actionable="true" Icon="oi oi-random" ActionClicked="ActionClicked"></CharacterListableItemComponent>
        </div>
    </div>
</div>

<style>
    .offense-wrapper {
        margin-top: .5rem;
        padding-top: .5rem;
        padding-left: 1rem;
        border-top: solid 2px;
        display: grid;
        grid-template-columns: 1rem auto;
        align-items: start;
        justify-items: start;
        column-gap: 5px;
    }

        .offense-wrapper .sheet-wrapper {
            padding: 3px;
            display: grid;
            border: solid 1px;
            width: 100%;
            padding-left: 20px;
        }
</style>

@code {
    [CascadingParameter(Name = "Character")]
    protected CharacterViewModel Character { get; set; }

    [Parameter]
    public bool Hidden { get; set; }

    private void ActionClicked(string str)
    {
        Character.PerformAction(str);
    }
}

