@inject IJSRuntime JSRuntime;

<div class="console-wrapper">
    <h3>Console</h3>
    <div class="console">
        @foreach (string statement in ConsoleStatements)
        {
            <h5>@statement</h5>
        }
    </div>
</div>


@code {
    private List<string> ConsoleStatements = new List<string>();

    public void WriteToConsole(string message)
    {
        ConsoleStatements.Add(message);
        ScrollToBottom();
        this.StateHasChanged();
    }

    private void ScrollToBottom()
    {
        JSRuntime.InvokeVoidAsync("setScrollToLoc", 4000);
    }
}
