.body1 {
    background-image: url("../../../images/_BStudio/PUGCon/Background.jpg");
}

.pug-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-size: contain;
    z-index: -1000;
    transition: opacity 2s;
    background-repeat: no-repeat;
    background-size: cover;
}

.body2 {
    background-image: url("../../../images/_BStudio/PUGCon/bg-Dragon3.jpg");
}

.body3 {
    background-image: url("../../../images/_BStudio/PUGCon/bg-Templar1.jpg");
}

.body4 {
    background-image: url("../../../images/_BStudio/PUGCon/bg-Dwarf2.jpg");
}

.body5 {
    background-image: url("../../../images/_BStudio/PUGCon/bg-shieldmaiden.jpg");
}

.section1 {
  color: rgb(113,113,113);
  background-color: rgba(255,255,255,0);
  padding: 30px;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../../../images/_BStudio/PUGCon/bg-spotcol-aasiamar.png");
}

.container1 {
  max-height: none;
  height: 1200px;
}

.container-announcement1 {
  width: 2100px;
  max-width: 2100px;
}

.article1 {
  background-color: rgba(244,244,244,0);
}

.pad-top-24 {
  padding-top: 24px;
}

.pad-top-40 {
  padding-top: 40px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-top-110 {
  padding-top: 110px;
}

.pad-bottom-20 {
  padding-bottom: 20px;
}

.pad-top-bottom-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sans-serif-font {
  font-family: Roboto, sans-serif;
}

.bethica-font {
  font-family: Roboto, sans-serif;
}

.text-indent-25 {
  text-indent: 25px;
}

.text-indent-40 {
  text-indent: 40px;
}

.margin-left-16 {
  margin-left: 16px;
}

.box-border1 {
  border-radius: 10.2px;
  box-shadow: 0 0 16px #dfa34e;
  background-color: rgba(0,0,0,0.8);
  color: #dfa34e;
  padding: 20px;
  margin-top: 50px;
  margin-left: 20px;
  max-width: 350px;
  min-width: 350px;
}

.box-border2 {
  border-radius: 10.2px;
  box-shadow: 0 0 16px #dfa34e;
  color: #dfa34e;
  padding: 20px;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 21px;
  background-color: rgba(0,0,0,0.6);
}

.box-border3 {
  border-radius: 10.2px;
  box-shadow: 0 0 16px #dfa34e;
  background-color: rgba(0,0,0,0.8);
  color: #dfa34e;
  padding: 20px;
  margin-top: 50px;
  margin-left: 20px;
  max-width: 700px;
  min-width: 330px;
}

.box-border4 {
  border-radius: 10.2px;
  box-shadow: 0 0 16px #dfa34e;
  background-color: rgba(0,0,0,0.8);
  color: #dfa34e;
  padding: 20px;
  margin-top: 50px;
  margin-left: 20px;
  text-indent: 25px;
}

.box-border5 {
  border-radius: 10.2px;
  box-shadow: 0 0 16px #dfa34e;
  background-color: rgba(0,0,0,0.8);
  color: #dfa34e;
  padding: 20px;
  margin-top: 50px;
  margin-left: 20px;
  text-indent: 25px;
}

.box-img1 {
  background-image: url("../../../images/_BStudio/PUGCon/TanHoSim_SYSCOMBAT.jpg");
  background-repeat: no-repeat;
  width: 693px;
  height: 350px;
  margin-bottom: 20px;
}

.sans-serif-font1 {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 200;
  color: #b8b2ad;
}

.sans-serif-font1a {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 200;
  margin: 0px;
  color: #b8b2ad;
}

.sans-serif-font1b {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 200;
  color: #b8b2ad;
}

.sans-serif-font1c {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 200;
  text-indent: 25px;
  color: #b8b2ad;
}

.sans-serif-font1d {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 200;
  text-indent: 25px;
  color: #dc640d;
}

.sans-serif-font2 {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  color: #dfa34e!important;
}

@media (min-width: 576px) {
  .sans-serif-font2 {
    margin-left: 2%;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    color: #dfa34e!important;
  }
}

.sans-serif-font2a {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  color: #dfa34e!important;
}

.sans-serif-font2b {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  color: #dfa34e!important;
}

@media (min-width: 576px) {
  .sans-serif-font2b {
    margin-left: 2%;
    font-family: Roboto, sans-serif;
    font-size: 29px;
    color: #dfa34e!important;
  }
}

@media (min-width: 768px) {
  .sans-serif-font2b {
    margin-left: 2%;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    color: #dfa34e!important;
  }
}

.sans-serif-font2c {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #dfa34e!important;
  padding-top: 25px;
}

@media (min-width: 576px) {
  .sans-serif-font2c {
    margin-left: 2%;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    color: #dfa34e!important;
    padding-top: 25px;
  }
}

@media (min-width: 768px) {
  .sans-serif-font2c {
    margin-left: 2%;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    color: #dfa34e!important;
    padding-top: 25px;
  }
}

.sans-serif-font3 {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  color: #b8b2ad;
}

#background_image_1, #background_image_2, #background_image_3, #background_image_4, #background_image_5, #background_image_6, #background_image_7, #background_image_8, #background_image_9, #background_image_10 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-size: contain;
    z-index: -800;
    transition: opacity 2s;
    background-repeat: no-repeat;
}

#background_image_1 {
  background-image: url("../../../images/_BStudio/PUGCon/bg-spotcol-aasiamar.png");
  opacity: 1;
}

#background_image_2 {
  background-image: url("../../../images/_BStudio/PUGCon/bg-TieflingKnight.png");
  opacity: 0;
}

#background_image_3 {
  background-image: url("../../../images/_BStudio/PUGCon/bg-brone.png");
  opacity: 0;
}

#background_image_4 {
  background-image: url("../../../images/_BStudio/PUGCon/bg-demongladiator.png");
  opacity: 0;
}

#background_image_5 {
  background-image: url("../../../images/_BStudio/PUGCon/bg-dryad.png");
  opacity: 0;
}

#background_image_6 {
  background-image: url("../../../images/_BStudio/PUGCon/bg-moonelf.png");
  opacity: 0;
}

#background_image_7 {
  background-image: url("../../../images/_BStudio/PUGCon/bg-hag.png");
  opacity: 0;
}

#background_image_8 {
  background-image: url("../../../images/_BStudio/PUGCon/bg-whotetroll.png");
  opacity: 0;
}

#background_image_9 {
  background-image: url("../../../images/_BStudio/PUGCon/bg-DeathGiant.png");
  opacity: 0;
}

#background_image_10 {
  background-image: url("../../../images/_BStudio/PUGCon/BG-spotcol-deepgnome.png");
  opacity: 0;
}

.no-margin {
  margin: 0px;
}

#article1 {
  height: auto;
}

.announcment1 {
  font-size: 20px;
  width: 950px;
  color: #dfa34e!important;
  text-indent: 25px;
  padding-top: 20px;
  background-color: #000000;
  font-family: Adamina, serif;
  line-height: 35px;
}

.container-announcement1 {
  width: 100%;
  max-width: none;
}

#announcement1_paragraphs_container {
  background-color: #000000;
}

#announcement1_paragraph1, #announcement1_paragraph2, #announcement1_paragraph3, #announcement1_paragraph4, #announcement1_paragraph5 {
  width: 100%;
  background-color: transparent;
}

#event_dashboard_button {
  margin-bottom: 50px;
}

#background_smallimage_1, #background_smallimage_2, #background_smallimage_3, #background_smallimage_4, #background_smallimage_5, #background_smallimage_6, #background_smallimage_7, #background_smallimage_8 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-size: 15%;
  background-repeat: no-repeat;
  z-index: -1000;
  opacity: 0;
  transition: opacity 2s;
  background-position: 0 45%;
}

#background_smallimage_1 {
    background-image: URL("../../../images/_BStudio/PUGCon/Landing-Page/DeanSpencer-spotcol-dwarfflamepriest.png");
    background-position: 15% 30%;
}

#background_smallimage_2 {
    background-image: URL("../../../images/_BStudio/PUGCon/Landing-Page/DeanSpencer-spotcol-dwarfforge.png");
    background-position: 0% 100%;
}

#background_smallimage_3 {
    background-image: URL("../../../images/_BStudio/PUGCon/Landing-Page/DeanSpencer-spotcol-elfarcher.png");
    background-position: 85% 30%;
}

#background_smallimage_4 {
    background-image: URL("../../../images/_BStudio/PUGCon/Landing-Page/DeanSpencer-spotcol-elfspellsword.png");
    background-position: 100% 100%;
}

#background_smallimage_5 {
    background-image: URL("../../../images/_BStudio/PUGCon/Landing-Page/DeanSpencer-spotcol-gnomebard.png");
    background-position: -2% 50%;
}

#background_smallimage_6 {
    background-image: URL("../../../images/_BStudio/PUGCon/Landing-Page/DeanSpencer-spotcol-knightvswerewolf.png");
    background-position: 16% 80%;
}

#background_smallimage_7 {
    background-image: URL("../../../images/_BStudio/PUGCon/Landing-Page/DeanSpencer-spotcol-ogretank.png");
    background-position: 100% 55%;
}

#background_smallimage_8 {
    background-image: URL("../../../images/_BStudio/PUGCon/Landing-Page/DeanSpencer-spotcol-spectralhand.png");
    background-position: 86% 77%;
}

#intro_info {
  max-width: none;
}

@media (max-width: 1199px) {
  #background_smallimage_1, #background_smallimage_2, #background_smallimage_3, #background_smallimage_4, #background_smallimage_5, #background_smallimage_6, #background_smallimage_7, #background_smallimage_8 {
    background-size: 20%;
  }
}

@media (max-width: 795px) {
  #background_smallimage_1, #background_smallimage_2, #background_smallimage_3, #background_smallimage_4, #background_smallimage_5, #background_smallimage_6, #background_smallimage_7, #background_smallimage_8 {
    background-size: 30%;
  }
}

@media (max-width: 575px) {
  #background_smallimage_1, #background_smallimage_2, #background_smallimage_3, #background_smallimage_4, #background_smallimage_5, #background_smallimage_6, #background_smallimage_7, #background_smallimage_8 {
    background-size: 40%;
  }
}

/* New standard rob css */

.rob-navbar-font {
  font-size: 20px;
  font-family: Amarante, cursive;
  color: #dfa34e!important;
}

.rob-footer-font {
  font-size: 19px;
  font-family: Amarante, cursive;
  color: #dfa34e!important;
}

.rob-margin-top-100 {
  margin-top: 100px;
}

.rob-margin-top-600 {
  margin-top: 600px;
}

/* rob-colors */

.bg-clear {
  background-color: rgba(244,244,244,0);
}

.black {
  color: black;
}

.bg-black {
  background-color: black!important;
}

.bg-black-50 {
  background-color: rgba(0,0,0,0.5)!important;
}

.white {
  color: white!important;
}

/* height */

.hgt-auto {
  height: auto;
}

/* padding: top, bottom, left, right */

.ptop-20 {
  padding-top: 20px;
}

.pbpttom-20 {
  padding-bottom: 20px;
}

.pleft-25 {
  padding-left: 25px;
}

/* margin: top, bottom, left, right */

.rob-pug-sponser-footer {
  border-radius: 10.2px;
  box-shadow: 0 0 16px #dfa34e;
  color: #dfa34e;
  padding: 20px;
  margin: 50px 20px;
  font-size: 21px;
  background-color: rgba(0,0,0,0.6);
}

.rob-jumbotron1 {
  border-radius: 10.2px;
  box-shadow: 0 0 16px #dfa34e;
  color: #ffffff!important;
  background-color: #000000;
  padding: 20px;
  margin-top: 50px;
  margin-left: 20px;
  max-width: 350px;
  min-width: 350px;
}

.rob-jumbotron2 {
  border-radius: 10.2px;
  box-shadow: 0 0 16px #dfa34e;
  background-color: #000000;
  padding: 20px;
  /*margin-top: 67px;*/
  /*margin-left: 20px;*/
  max-width: 400px;
  min-width: 400px;
}

