@model ROB.Web.Models.WeaponModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>WeaponModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeaponType" class="control-label"></label>
                <select asp-for="WeaponTypeId" class="form-control" asp-items="ViewBag.WeaponType">
                    <option value="">Select Weapon Type</option>
                </select>
                <span asp-validation-for="WeaponTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <select asp-for="SizeId" class="form-control" asp-items="ViewBag.WeaponSize">
                    <option value="">Select Size</option>
                </select>
                <span asp-validation-for="SizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DamageType" class="control-label"></label>
                <select asp-for="DamageTypeId" class="form-control" asp-items="ViewBag.DamageType">
                    <option value="">Select Damage Type</option>
                </select>
                <span asp-validation-for="DamageTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Handed" class="control-label"></label>
                <select asp-for="Handed" asp-items="Html.GetEnumSelectList<HandedTypeModel>()" class="form-control"></select>
                <span asp-validation-for="Handed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RateOfAttack" class="control-label"></label>
                <input asp-for="RateOfAttack" class="form-control" />
                <span asp-validation-for="RateOfAttack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DamageValue" class="control-label"></label>
                <input asp-for="DamageValue" class="form-control" />
                <span asp-validation-for="DamageValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DamageFactor" class="control-label"></label>
                <input asp-for="DamageFactor" class="form-control" />
                <span asp-validation-for="DamageFactor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReactionModifier" class="control-label"></label>
                <input asp-for="ReactionModifier" class="form-control" />
                <span asp-validation-for="ReactionModifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PenetrationValue" class="control-label"></label>
                <input asp-for="PenetrationValue" class="form-control" />
                <span asp-validation-for="PenetrationValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Range" class="control-label"></label>
                <input asp-for="Range" class="form-control" />
                <span asp-validation-for="Range" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evasion" class="control-label"></label>
                <input asp-for="Evasion" class="form-control" />
                <span asp-validation-for="Evasion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
