@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

input {
    text-align: center;
    background-color: lightgoldenrodyellow;
    margin: 2px;
    border-radius: 10px;
    border: 1px solid goldenrod;
}

button:focus {
    outline: none;
}

.body {
    overflow-y: scroll;
    -ms-overflow-style: none;
    padding: 0 12px;
}

.body::-webkit-scrollbar {
    display: none;
}

.footer button {
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    height: 100%;
}

.footer button:hover {
    background-color: rgba(100,100,100,.5);
}


.main-wrapper {
    display: grid;
    grid-template-rows: 7fr 3fr;
    height: 100%;
    justify-content: center;
    background-color: rgb(165,165,165);
    padding: 10px 0 0 0;
}

.main-wrapper h3{
    display: none;
}

.combat-tracker-wrapper {
    max-width: 1000px;
    padding: 0 10px;
    overflow-x: hidden;
}

.console-wrapper {
    background-color: black;
    color: white;
    padding: 0 10px;
    overflow-x: hidden;
}

.combat-tracker {
    height: 100%;
    display: grid;
    grid-template-rows: 40px 1fr 40px;
}

.dark-bg {
    background-color: rgb(50,50,50);
    color: white;
    margin: 0 -10px;
    padding: 0 22px;
}

.tooltip-handle {
    position:relative;
}

.tooltip-handle:hover .tooltip-text {
    visibility: visible;
}

.character {
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px 0;
    position: relative;
    box-shadow: grey 2px 2px 10px, grey -2px -2px 10px;
}

.tooltip-text {
    visibility: hidden;
    background-color: rgba(80,80,80,1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    bottom: -4rem;
    padding: 5px;
}

    .tooltip-text::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent rgba(80,80,80,1) transparent;
    }

.grid-char-bar {
    display: grid;
    grid-template-columns: 2rem 8fr repeat(6, 3rem) repeat(6, 2rem);
    text-align: center;
    align-items: center;
}

.faction-hostile {
    background-color: rgb(230, 200, 200);
}

.faction-hostile:hover {
    background-color: rgb(240, 210, 210);
}

.faction-hostile-dark {
    background-color: darkred;
}

.faction-hostile-active {
    box-shadow: darkred 2px 2px 10px, darkred -2px -2px 10px
}

.faction-friendly {
    background-color: rgb(200, 230, 200);
}

.faction-friendly:hover {
    background-color: rgb(210, 240, 210);
}

.faction-friendly-dark {
    background-color:darkgreen;
}

.faction-friendly-active {
    box-shadow: darkgreen 2px 2px 10px, darkgreen -2px -2px 10px
}

.faction-neutral {
    background-color: rgb(230, 230, 200);
}

.faction-neutral-dark {
    background-color:darkorange;
}

.faction-neutral-active {
    box-shadow: darkorange 2px 2px 10px, darkorange -2px -2px 10px
}

.faction-neutral:hover {
    background-color: rgb(240, 240, 210);
}

.transition-height-scale {
    transition: max-height 1s;
    overflow: hidden;
}


.character-targeted {
    position: absolute;
    height: 20px;
    left: -.7rem;
    top: 1.1rem;
    border-top: rgba(0,0,0,0) 10px solid;
    border-bottom: rgba(0,0,0,0) 10px solid;
}

.character-targeted-friendly {
    border-left: darkgreen 10px solid;
}

.character-targeted-hostile {
    border-left: darkred 10px solid;
}

.character-targeted-neutral {
    border-left: darkorange 10px solid;
}

.character-details {
    display: grid;
    grid-template-columns: 40px auto;
    text-align: center;
}

.list-wrapper {
    display: grid;
    grid-template-columns: 100px auto;
    grid-row-gap: 20px;
}

.character-details > div {
    border-top: 1px solid black;
    margin-right: 20px;
}

.list {
    display: grid;
    text-align: left;
    grid-template-columns: 30px auto;
}

.list-item {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    height: 1.5rem;
}

.grid-stats-6 {
    display: grid;
    grid-template-columns: repeat(6, 3.5rem 3rem);
    align-items: center;
    text-align: right;
    grid-column-gap: 5px;
}

.character-sheet {
    position: absolute;
    right: 10px;
    width: 700px;
    display: grid;
    grid-template-rows: 60px auto 40px;
    padding: 50px;
    z-index: 10;
}

.character-sheet-stats {
    display: grid;
    grid-template-columns: 1fr 3rem 1fr 3rem;
    grid-template-rows: repeat(5, 3rem);
    grid-column-gap: 10px;
    text-align: right;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
}

.portrait {
    width: 250px;
    height: 300px;
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
    border: 3px solid goldenrod;
    box-shadow: black 0px 0px 10px;
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position:relative;
}

.portrait span {
    position:absolute;
}

.portrait span:nth-child(1){
    left:0
}

.portrait span:nth-child(2) {
    right: 0
}

.portrait svg {
    height: 25px;
    width: 25px;
}

.portrait > img {
    width:100%;
}

.grid-2-col-equal {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-span-2 {
    grid-column: span 2;
}

.button-exit {
    font-size: 2rem;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(0,0,0,0);
    border: none;
}

.gender-male svg {
    stroke: #6767e4;
}

.gender-female svg {
    stroke: #d748dc;
}

.gender-unknown svg {
    stroke: black;
}

@media (max-height: 775px) {
    .character-sheet {
        height: 100%;
        width: 100%;
        right: 0;
        overflow-y: scroll;
    }

    .character-sheet-stats {
        grid-template-columns: repeat(5, 1fr 3rem);
        margin-right: 0;
        grid-row: 2;
        grid-column: span 3;
        justify-self: center;
        grid-template-rows: auto;
    }
}


@media (max-width: 1000px) {

    .main-wrapper {
        padding: 0;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 720px){
    .character-sheet {
        width: 100vw;
        height: 100vh;
        right: 0;
        z-index: 1000;
        overflow-y: scroll;
        grid-template-rows: auto;
        justify-items: center;
    }

    .character-sheet-body {
        grid-template-columns: 1fr;
    }

        .character-sheet-body > .grid-col-span-2 {
            grid-column: span 1;
        }
}

@media (max-width: 620px) {

    html {
        transform: rotate(-90deg);
        transform-origin: bottom left;
        position: absolute;
        bottom: 0;
        right: -100vh;
        height: 100vw;
        width: 100vh;
        overflow: auto;
    }

    .character-sheet {
        transform: rotate(90deg);
        width: 100vw;
        height: 100vh;
        bottom: 100vw;
        left: 0;
        z-index: 1000;
        transform-origin: bottom left;
        overflow-y: scroll;
        grid-template-rows: auto;
        justify-items: center;
    }

}
    