@model ROBaspCore.Models.SpellModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SpellModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArcaneSphereId" class="control-label"></label>
                <select asp-for="ArcaneSphereId" class ="form-control" asp-items="ViewBag.ArcaneSphereId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RangeId" class="control-label"></label>
                <select asp-for="RangeId" class ="form-control" asp-items="ViewBag.RangeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label"></label>
                <select asp-for="AreaId" class ="form-control" asp-items="ViewBag.AreaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SizeLimitId" class="control-label"></label>
                <select asp-for="SizeLimitId" class ="form-control" asp-items="ViewBag.SizeLimitId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DurationId" class="control-label"></label>
                <select asp-for="DurationId" class ="form-control" asp-items="ViewBag.DurationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SaveId" class="control-label"></label>
                <select asp-for="SaveId" class ="form-control" asp-items="ViewBag.SaveId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CastingTimeId" class="control-label"></label>
                <select asp-for="CastingTimeId" class ="form-control" asp-items="ViewBag.CastingTimeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Damage" class="control-label"></label>
                <input asp-for="Damage" class="form-control" />
                <span asp-validation-for="Damage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Armor" class="control-label"></label>
                <input asp-for="Armor" class="form-control" />
                <span asp-validation-for="Armor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movement" class="control-label"></label>
                <input asp-for="Movement" class="form-control" />
                <span asp-validation-for="Movement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
