@page "/combattester"
@using ROB.Blazor.Client.Components
@inject HttpClient Http

<CombatTrackerComponent LogAction="WriteToConsole"></CombatTrackerComponent>
<ConsoleComponent @ref="_console"></ConsoleComponent>

<p @ref="_element"></p>

@code {
    private ConsoleComponent _console;

    private ElementReference _element;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _console.WriteToConsole("Loading game...");
            await Task.Delay(2000);
            _console.WriteToConsole("Loading complete");
        }
    }

    private void WriteToConsole(string message)
    {
        _console.WriteToConsole(message);
    }
}
