@{
    ViewData["Title"] = "Character Sheet Creation Home";
}

<div class="col item">
    <div class="bgc-c2"></div>
</div>
<div class="BG-Image-1">
    <div class="container hd-bgc-blk">
        <div class="row">
            <div class="col">
                <p class="text-uppercase text-center h1-vm">Realm of Bethica Fantasy RPG</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-justify">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 text-center">

                            <!-- UPDATE REQUIRED (LINK) -->
                            <a asp-controller="PUBCon" asp-action="@nameof(ROB.Web.Controllers.PUBConController.CreateGame)">
                                <img class="img-fluid" data-bs-hover-animate="pulse" src="~/images/_BStudio/Create_Select-Page/2DM-BG.png">
                            </a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">PUGCon Gamemasters</h3>
                            <p class="text-justify c2-indent-25" data-tippy-content="tooltip">If you are a gamemaster who is interested in run a game or two we would love to have you onboard. Just click the image above this will take you to the PUG Game Day Con Dashboard, from there just click create.</p>

                            <!-- UPDATE REQUIRED (LINK) -->
                            <a href="#">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center">

                            <!-- UPDATE REQUIRED (LINK) -->
                            <a asp-controller="PUBCon" asp-action="@nameof(ROB.Web.Controllers.PUBConController.WelcomePage)">
                                <img class="img-fluid img-fluid-1" data-bs-hover-animate="pulse" src="~/images/_BStudio/Landing-Page/PUG-Logo3.png">
                            </a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">
                                F.G. PUGCon Event<br>
                            </h3>
                            <p class="text-justify c2-indent-25">
                                F.G. PUG will be host their first online Fantasy Games Con, how exciting is that. We will have various gamemaster running D&amp;D5e events within the Fantasy Ground VTT interface. For more information about Fantasy Ground
                                click
                                <!-- UPDATE REQUIRED (LINK) -->
                                <a class="text-uppercase" href="https://www.fantasygrounds.com/home/home.php">Fantasy Grounds</a>.<br>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center item">

                            <!-- UPDATE REQUIRED (LINK) -->
                            <a asp-controller="PUBCon" asp-action="@nameof(ROB.Web.Controllers.PUBConController.GameDashboard)">
                                <img class="img-fluid wth-312" data-bs-hover-animate="pulse" src="~/images/_BStudio/Create_Select-Page/1Adventurer-BG.jpg">
                            </a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">PUGCon Adventures</h3>
                            <p class="text-justify c2-indent-25">
                                If you are a player looking for an adventure or two ro three, also click the image above to browse the list of games you would be interested in. Once you find a game you like just hit the sign up button and your adventure awaits
                                you.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 text-center">

                            <!-- UPDATE REQUIRED (LINK) -->
                            <a href="https://universalbattles.com/about-the-game">
                                <img class="img-fluid img-fluid-1" data-bs-hover-animate="pulse" src="~/images/_BStudio/Landing-Page/AboutTheGame.png">
                            </a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">About the Game</h3>
                            <p class="c2">
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center">

                            <!-- UPDATE REQUIRED (LINK) -->
                            <a href="https://universalbattles.com/kingdoms-of-bethica">
                                <img class="img-fluid img-fluid-1" data-bs-hover-animate="pulse" src="~/images/_BStudio/Landing-Page/KindomOfBethica.jpg">
                            </a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">Kingdoms of Bethica</h3>
                            <p class="c2">
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center item">

                            <!-- UPDATE REQUIRED (LINK) -->
                            <a href="https://universalbattles.com/races-of-bethica">
                                <img class="img-fluid img-fluid-1" data-bs-hover-animate="pulse" src="~/images/_BStudio/Landing-Page/RacesOfBethica.png">
                            </a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">Races of Bethica</h3>
                            <p class="c2">
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 text-center">

                            <!-- UPDATE REQUIRED (LINK) -->
                            <a href="https://universalbattles.com/archetypes-of-bethica">
                                <img class="img-fluid" data-bs-hover-animate="pulse" src="~/images/_BStudio/Landing-Page/ArchetypeOfBethica.jpg">
                            </a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">Archetypes of Bethica</h3>
                            <p class="c2" data-tippy-content="tooltip">
                            </p>

                            <!-- UPDATE REQUIRED (LINK) -->
                            <a href="#">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center">

                            <!-- UPDATE REQUIRED (LINK) -->
                            <a href="https://universalbattles.com/heroes-of-bethica">
                                <img class="img-fluid img-fluid-1" data-bs-hover-animate="pulse" src="~/images/_BStudio/Landing-Page/HeroesOfBethica1.jpg">
                            </a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">Heroes of Bethica</h3>
                            <p class="c2">
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center item">

                            <!-- UPDATE REQUIRED (LINK) -->
                            <a href="https://universalbattles.com/bethica-downloads-1">
                                <img class="img-fluid wth-312" data-bs-hover-animate="pulse" src="~/images/_BStudio/Landing-Page/DownloadableContent.png">
                            </a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">Downloadable Contents</h3>
                            <p class="c2">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="bgc-c2"></div>
</div>