@{
    ViewData["Title"] = "Character Sheet Creation Home";
}

<div class="col item">
    <div class="bgc-c2"></div>
</div>
<div class="BG-Image-1">
    <div class="container hd-bgc-blk" style="height: 1048px;">
        <div class="row">
            <div class="col">
                <p class="text-uppercase text-center h1-vm">Realm of Bethica Fantasy RPG</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-justify">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 text-center">
                            <a href="https://universalbattles.com/about-the-game"><img class="img-fluid img-fluid-1" data-bs-hover-animate="pulse" src="~/images/_BStudio/Landing-Page/AboutTheGame.png"></a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">About the Game</h3>
                            <p class="c2">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center">
                            <a href="https://universalbattles.com/kingdoms-of-bethica"><img class="img-fluid img-fluid-1" data-bs-hover-animate="pulse" src="~/images/_BStudio/Landing-Page/KindomOfBethica.jpg"></a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">Kingdoms of Bethica</h3>
                            <p class="c2">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center item">
                            <a href="https://universalbattles.com/races-of-bethica"><img class="img-fluid img-fluid-1" data-bs-hover-animate="pulse" src="~/images/_BStudio/Landing-Page/RacesOfBethica.png"></a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">Races of Bethica</h3>
                            <p class="c2">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 text-center">
                            <a href="https://universalbattles.com/archetypes-of-bethica"><img class="img-fluid" data-bs-hover-animate="pulse" src="~/images/_BStudio/Landing-Page/ArchetypeOfBethica.jpg"></a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">Archetypes of Bethica</h3>
                            <p class="c2">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#"></a>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center">
                            <a href="https://universalbattles.com/heroes-of-bethica"><img class="img-fluid img-fluid-1" data-bs-hover-animate="pulse" src="~/images/_BStudio/Landing-Page/HeroesOfBethica1.jpg"></a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">Heroes of Bethica</h3>
                            <p class="c2">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center item">
                            <a href="https://universalbattles.com/bethica-downloads-1"><img class="img-fluid wth-312" data-bs-hover-animate="pulse" src="~/images/_BStudio/Landing-Page/DownloadableContent.png"></a>
                            <h3 data-bs-hover-animate="pulse" class="h-3">Downloadable Contents</h3>
                            <p class="c2">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="bgc-c2"></div>
</div>