@{
    ViewData["Title"] = "Player Mode";
}
    <div class="BG-Image">
        <div class="container text-center Container">
            <div class="text-uppercase text-center">
                <div class="row">
                    <div class="col">
                        <h1 class="h1, c1" style="font-size: 70px;">Player Mode</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h1 class="h2, c1" style="font-size: 50px;">Adventure?</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><img class="img-fluid Login-img1" data-aos="zoom-out" data-aos-duration="3000" data-aos-delay="500" src="~/images/_BStudio/Create_Select-Page/1Adventurer-BG.jpg"></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p data-aos="slide-down" data-aos-delay="2000" class="h-3">Enter the world as an adventuer!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="margin-top: 50px;">
                                <a class="btn btn-primary btn1" asp-area="" asp-controller="CharacterCreation" asp-action="NewCharacter">
                                <img class="img-fluid" src="~/images/_BStudio/Frames/1Adventurer-btn.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6">
                        <div class="row">
                            <div class="col">
                                <h1 class="h2, c1" style="font-size: 50px;">Dungeon Master?</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><img class="img-fluid Login-img1" data-aos="zoom-out" data-aos-duration="3000" data-aos-delay="3000" src="~/images/_BStudio/Create_Select-Page/1DM-BG.jpg"></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p data-aos="slide-down" data-aos-delay="3000" class="h-3">Enter the world as the dungeon master!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="margin-top: 50px;">
                                <a class="btn btn-primary btn1" asp-area="" asp-controller="CharacterCreation" asp-action="NewCharacter">
                                    <img class="img-fluid" src="~/images/_BStudio/Frames/1DM-btn.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>