@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ba0a8dbb41.js"></script>
    <title>UPick</title>
</head>
<body>

    <div class="container text-center">
        <br>
        <div id='head'>
            <h1>UPick 😉</h1>
        </div>

        <div id='actions'>
            <button class="btn btn-primary" id='findPlaces'>Find Nearby Places</button>
            <button class="btn btn-info" id='selectPlace' onclick="selectRandomItem()">Random Selection</button>
        </div>
        <br>
        <div id='customInput'>
            <div class="row">
                <div class="col">
                    <input id="customItem" class="form-control" type="text" placeholder="I want ...">
                </div>
                <div class="col-3 col-sm-2 col-md-2 col-lg-1">
                    <button class="btn btn-success form-control" id='addItem' onclick="addCustomItem()"><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>

        <div id="map"></div>
        <div id='customChoices' class="row text-center">
        </div>
        <div id='choices' class="row text-center">
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgiKf_tZER5GChup18YfhJxnqp6ubv_pk&libraries=places&callback=initMap"></script>
        <script type="text/javascript" src="~/js/UPick.min.js"></script>
</body>
</html>
