@model ROB.Web.Models.PUBConGameModel

@{
    ViewData["Title"] = "Create Game";
    Layout = "_PUGLayout";
}

@section Styles {
    @{await Html.RenderPartialAsync("_PUGConStylesPartial");}
}

<section class="pad-top-110">
    <div class="container scstyle-1 sc-overflow" id="article1_container" style="max-height: none;">
        <article id="article1" class="article1">
            <div class="C1">
                <form asp-action="CreateGame">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <div class="form-group pad-top-20">
                            <div id="formdiv">
                                <div class="form-row pad-top-24">
                                    <div class="col-md-8 offset-md-1">
                                        <p class="sans-serif-font2"><strong>New Event Submission Form</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 30px;">
                        <div class="form-group">
                            <div id="formdiv">
                                <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                    <div class="col-md-8 offset-md-1">
                                        <p class="text-left sans-serif-font2"><strong>Event Details</strong></p>
                                    </div>
                                </div>
                                <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                    <div class="col-md-8 offset-md-1">
                                        <p class="text-left sans-serif-font2a"><strong>Event Title</strong><br></p>
                                    </div>
                                    <div class="col-11 col-sm-11 col-md-10 offset-md-1">
                                        <input asp-for="EventTitle" placeholder="Your game scenario name" maxlength="30" class="form-control sans-serif-font3" />
                                        <span asp-validation-for="EventTitle" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                    <div class="col-md-8 offset-md-1">
                                        <p class="text-left sans-serif-font2a"><strong>Long Description</strong></p>
                                    </div>
                                    <div class="col-11 col-sm-11 col-md-10 offset-md-1">

                                        <textarea asp-for="Description" class="form-control sans-serif-font3" placeholder="Your game description goes here." minlength="50" maxlength="750"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;margin-top:-16px;">
                                    <div class="col-10 offset-md-1">
                                        <p class="text-left sans-serif-font2a"><strong>Game Type</strong></p>
                                    </div>
                                    <div class="col-11 col-sm-11 col-md-10 offset-md-1">

                                        <input asp-for="GameType" class="form-control sans-serif-font3" placeholder="Standard D&amp;D 5e, Adventure League, ect.." maxlength="50" />
                                        <span asp-validation-for="GameType" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;margin-top:-16px;">
                                    <div class="col-md-8 offset-md-1">
                                        <p class="text-left sans-serif-font2a"><strong>Minimum Players</strong></p>
                                    </div>
                                    <div class="col-11 col-sm-11 col-md-10 offset-md-1">

                                        <input asp-for="MinimumPlayers" class="form-control sans-serif-font3" />
                                        <span asp-validation-for="MinimumPlayers" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;margin-top:-16px;">
                                    <div class="col-md-8 offset-md-1">
                                        <p class="text-left sans-serif-font2a"><strong>Maximum Players</strong></p>
                                    </div>
                                    <div class="col-11 col-sm-11 col-md-10 offset-md-1">

                                        <input asp-for="MaximumPlayers" class="form-control sans-serif-font3" />
                                        <span asp-validation-for="MaximumPlayers" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pad-top-40">
                        <div class="form-group">
                            <div id="formdiv">
                                <div class="form-row pad-top-24">
                                    <div class="col-md-8 offset-md-1">
                                        <p class="text-left sans-serif-font2"><strong>Event Date &amp; Time</strong><br></p>
                                    </div>
                                </div>
                                <div class="form-row pad-top-24">
                                    <div class="col-md-8 offset-md-1">
                                        <p class="text-left sans-serif-font2a"><strong>Event Date</strong><br></p>
                                    </div>
                                    <div class="col-11 col-md-10 offset-md-1">

                                        <input asp-for="EventDate" class="form-control sans-serif-font3" type="text" />
                                        <span asp-validation-for="EventDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row pad-top-24">
                                    <div class="col-md-8 offset-md-1">
                                        <p class="text-left sans-serif-font2a"><strong>Event Duration</strong></p>
                                    </div>
                                    <div class="col-11 col-sm-11 col-md-10 offset-md-1">
                                        <input asp-for="EventDuration" class="form-control sans-serif-font3" />
                                        <span asp-validation-for="EventDuration" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pad-top-20">
                        <div class="form-group">
                            <div id="formdiv">
                                <div class="form-row pad-top-24">
                                    <div class="col offset-md-1">
                                        <p class="text-left sans-serif-font2"><strong>Other Information</strong></p>
                                    </div>
                                </div>
                                <div class="form-row pad-top-24">
                                    <div class="col-md-8 offset-md-1">
                                        <p class="text-left sans-serif-font2a"><strong>Message to players</strong></p>
                                    </div>
                                    <div class="col-11 col-sm-11 col-md-10 offset-md-1">
                                        <textarea asp-for="MessageToPlayers" placeholder="Here you will enter any player request or comments!" maxlength="250" class="form-control sans-serif-font3"></textarea>
                                        <span asp-validation-for="MessageToPlayers" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row pad-top-24">
                                    <div class="col-md-8 offset-md-1">
                                        <p class="text-left sans-serif-font2a"><strong>Gamemaster</strong></p>
                                    </div>
                                    <div class="col-11 col-sm-11 col-md-10 offset-md-1">

                                        <textarea asp-for="GameMaster" placeholder="Enter GM name here!" maxlength="50" class="form-control sans-serif-font3"></textarea>
                                        <span asp-validation-for="GameMaster" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row pad-top-24">
                                    <div class="col-md-8 offset-md-1">
                                        <p class="text-left sans-serif-font2a"><strong>Game Day Discord Channel</strong></p>
                                    </div>
                                    <div class="col-11 col-md-10 col-lg-10 col-xl-10 offset-md-1">
                                        <textarea asp-for="DiscordChannel" placeholder="GM enter the discord channel you will be running your game from!" maxlength="50" class="form-control sans-serif-font3"></textarea>
                                        <span asp-validation-for="DiscordChannel" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row pad-top-24">
                                    <div class="col-md-8 offset-md-1">
                                        <p class="text-left sans-serif-font2a">
                                            <strong>Gamemaster Discord Name</strong>
                                        </p>
                                    </div>
                                    <div class="col-11 col-md-10 offset-md-1">
                                        <input asp-for="GameMasterDiscordName" placeholder="Enter your discord name here!" maxlength="50" class="form-control sans-serif-font3" />
                                        <span asp-validation-for="GameMasterDiscordName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row pad-top-24">
                                    <div class="col-11 offset-md-1">
                                        <p class="text-left sans-serif-font2a">
                                            <strong>Gamemaster Links</strong>
                                        </p>
                                    </div>
                                    <div class="col-11 col-md-10 offset-md-1">
                                        <textarea class="form-control sans-serif-font3" placeholder="www.mysite.com" maxlength="20"></textarea>
                                    </div>
                                    <div class="col-12 col-md-10 offset-md-1 pad-top-20">
                                        <button class="btn btn-primary" type="button">Submit Link</button>
                                    </div>
                                </div>
                                <div class="form-row pad-top-24">
                                    <div class="col">
                                        <div class="dashed_upload">
                                            <div class="wrapper">
                                                <div class="drop">
                                                    <div class="cont">
                                                        <i class="fa fa-cloud-upload">
                                                        </i>
                                                        <div class="tit">
                                                            Drag & Drop
                                                        </div>
                                                        <div class="desc">
                                                            or
                                                        </div>
                                                        <div class="browse">
                                                            click here to browse
                                                        </div>
                                                    </div>
                                                    <output id="list">
                                                    </output>
                                                    <input id="files" multiple name="files[]" type="file" />
                                                </div>
                                            </div>
                                            <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'>
                                            </script>

                                            <script src="js/index.js">
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pad-top-20">
                            <div class="form-group">
                                <div class="text-center" id="formdiv">
                                    <div class="form-row pad-top-24">
                                        <div class="col-12 col-md-4 offset-md-4 text-center">
                                            <div class="form-group">
                                                <input value="Clear" class="btn btn-dark btn-lg" style="font-family:Roboto, sans-serif;" type="reset">
                                                <input type="submit" value="Create" class="btn btn-success btn-lg" style="margin-left: 16px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center box-border2">
                            <div class="row justify-content-center align-items-center pad-top-20">
                                <div class="col-12">
                                    <p style="margin-bottom: 0px;">Fantasy Ground Pickup Game VTT Con&nbsp;</p>
                                    <p style="margin-bottom: 0px;">Sponsered by:</p>
                                </div>
                                @*<div class="col text-center"><img class="img-fluid" src="~/images/_BStudio/PUGCon/PUG-Logo.png"></div>*@
                                <div class="col text-center"><img class="img-fluid" src="~/images/_BStudio/PUGCon/UB_Logo2.png"></div>
                                <div class="col text-center"><img class="img-fluid" src="~/images/_BStudio/PUGCon/Bethica_logo_edited_final.png"></div>
                                <div class="col text-center"><img class="img-fluid" src="~/images/_BStudio/PUGCon/UB Unlimited-02.png"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </article>
    </div>
</section>
<div id="background_image_1"></div>
<div id="background_image_2"></div>
<div id="background_image_3"></div>
<div id="background_image_4"></div>
<div id="background_image_5"></div>
<div id="background_image_6"></div>
<div id="background_image_7"></div>
<div id="background_image_8"></div>
<div id="background_image_9"></div>
<div id="background_image_10"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_PUGConScriptPartial");}
}