.sc-overflow {
  overflow-y: auto;
}

section {
  min-height: 100px;
}

article {
  /*height: 350px;*/
  /*background: #f4f4f4;*/
  padding: 10px;
}

.glow1 {
  background-image: url(../../images/_BStudio/Buttons/CharacterSelect_Glow.png);
}

.att-cs-btn-pd-bt-10 {
  padding-bottom: 10px;
}

