.padding-bot-20 {
  padding-bottom: 20px;
}

.padding-top-180 {
  padding-top: 180px;
}

.padding-top-51 {
  padding-top: 51px;
}

.padding-bot-51 {
  padding-bottom: 51px;
}

.padding-top-90 {
  padding-top: 90px;
}

.padding-bot-90 {
  padding-bottom: 90px;
}

.btn-width-290 {
  width: 290.656px;
}

.max-width-457 {
  max-width: 457px;
}

.archetype-img {
  margin-top: 20px;
  background-color: rgba(0,0,0,0.75);
  border-radius: 300px;
}

#btn-strong:hover {
  background-color: rgba(0,255,56,0.3);
}

#btn-robust:hover {
  background-color: rgba(0,255,56,0.3);
}

#btn-precise:hover {
  background-color: rgba(0,117,255,0.3);
}

#btn-agile:hover {
  background-color: rgba(0,117,255,0.3);
}

#btn-precision:hover {
  background-color: rgba(0,117,255,0.3);
}

#btn-know:hover {
  background-color: rgba(255,107,0,0.3);
}

#btn-head:hover {
  background-color: rgba(255,107,0,0.3);
}

#btn-charismatic:hover {
  background-color: rgba(255,0,0,0.3);
}

#btn-attractive:hover {
  background-color: rgba(255,0,0,0.3);
}

@media (min-width: 768px) {
  .body-c2 {
    color: #b8b2ad;
    font-size: 20px;
    font-weight: 700;
  }
}

.dcs-pd-1 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.BG-Image-a3 {
  background: url(../../images/_BStudio/BG/BG-Fighter-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 90px;
  background-attachment: fixed;
}

.h30-c1 {
  font-size: 30px;
  color: #dfa34e;
}

.par16-wt400 {
  font-size: 16px;
  font-weight: 400;
}

.h20-c1 {
  font-size: 20px;
  color: #dfa34e;
}

.margin-top-27 {
  margin-top: 27px;
}


.h18-c1 {
  font-size: 18px;
  color: #dfa34e;
}

.BG-Image-b3 {
  background: url(../../images/_BStudio/BG/BG-Rogue-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 90px;
  background-attachment: fixed;
}

#priestselect, #fighterselect, #rogueselect {
  display: none;
}

