.top-margin-81 {
  margin-top: 81px;
}

.top-margin-46 {
  margin-top: 46px;
}

.par20-c2-wt400-indent-50 {
  font-size: 20px;
  font-weight: 400;
  text-indent: 25px;
  color: #b8b2ad;
}

.top-margin-45 {
  margin-top: 45px;
}

.top-margin-150 {
  margin-top: 150px;
}

.padding-10 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 70px;
}

.agi-pre1 {
  background-color: rgba(0,0,0,0.75);
  border: groove 1px;
  color: #17a2b8;
  margin-top: 10px;
  min-height: 142px;
}

#btn-dexterous:hover {
  background-color: rgba(0,117,255,0.3);
}

#btn-mighty:hover {
  background-color: rgba(0,255,56,0.3);
}

#btn-intellectual:hover {
  background-color: rgba(255,107,0,0.3);
}

#btn-influential:hover {
  background-color: rgba(255,0,0,0.3);
}

.cha-att1 {
  background-color: rgba(0,0,0,0.75);
  border: groove 1px;
  color: #dc3545;
  margin-top: 10px;
  min-height: 142px;
}

.dexterous1 {
  background-color: rgba(0,0,0,0.75);
  border: groove 1px;
  color: #17a2b8;
  margin-bottom: 10px;
  height: 120px;
}

.img-btn1 {
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  background-color: rgba(255,255,255,0);
}

.influential1 {
  background-color: rgba(0,0,0,0.75);
  border: groove 1px;
  color: #dc3545;
  margin-bottom: 10px;
  height: 120px;
}

.intellectual1 {
  background-color: rgba(0,0,0,0.75);
  border: groove 1px;
  color: #ffc107;
  margin-bottom: 10px;
  height: 120px;
}

.kno-hea1 {
  background-color: rgba(0,0,0,0.75);
  border: groove 1px;
  color: #ffc107;
  min-height: 142px;
}

.mighty1 {
  background-color: rgba(0,0,0,0.75);
  border: groove 1px;
  color: #31d93c;
  margin-bottom: 10px;
  height: 120px;
}

.str-rob1 {
  background-color: rgba(0,0,0,0.75);
  border: groove 1px;
  color: #31d93c;
  min-height: 142px;
}

.BG-Image-a2 {
  background: url(../../images/_BStudio/BG/BG-Mage-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 90px;
  background-attachment: fixed;
}

.attr-h30 {
  font-size: 30px;
  color: #dfa34e;
}

.par-20-c1 {
  font-size: 20px;
  color: #dfa34e;
  font-weight: 400;
}

.separator-2 {
  height: 30px;
  background-image: url(../../images/_BStudio/Shared/CharacterCreate_Separator.png);
  background-size: cover;
  background-position: center;
  margin-top: 7px;
}

#btn-mighty:hover, #btn-strong:hover, #btn-robust:hover, #btn-dexterous:hover, #btn-agile:hover, #btn-precise:hover {
  cursor: pointer;
}

.tippy-box[data-theme ="sample_theme1"] {
  background-color: #000000;
  color: #dfa34e;
  font-size: 24px;
  font-family: serif;
}

.tippy-box[data-theme ="sample_theme2"] {
  background-color: #000000;
  color: #dfa34e;
  font-size: 24px;
  font-family: serif;
}

