@media (min-width: 300px) {
  .Login {
    width: 350px;
    height: 60px;
    background-color: rgba(0,0,0,0.75);
    border: groove 2px;
    text-align: center;
    color: #b8b2ad;
  }
}

.Login {
  width: 295px;
  height: 60px;
  background-color: rgba(0,0,0,0.75);
  border: groove 2px;
  text-align: center;
  color: #b8b2ad;
}

.FontY30 {
  color: #b8b2ad !important;
  font-size: 30px;
}

.Body-Color {
  color: #b8b2ad;
}

.BGC-BLK {
}

.BGC-BLK {
  background-color: rgb(0,0,0);
}

.BG-Image {
  background: url(../../images/_BStudio/BG/3Body-BG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1331px;
  background-attachment: fixed;
}

.Container {
  height: 1331px;
  background-color: rgba(21,19,18,0.63);
  margin-top: 15px;
  max-width: 2286px;
}

@media (min-width: 992px) {
  .Main-Div {
    color: #b8b2ad;
    font-size: 20px!important;
    font-weight: bold;
    border: groove 7px;
    height: 1318px;
    padding: 10px;
  }
}

.Main-Div {
  color: #b8b2ad;
  font-size: 20px!important;
  font-weight: bold;
  border: groove 2px;
  height: 1318px;
  padding: 10px;
}

.Login-AcctNm {
  margin-top: 125px;
}

.Login-RM {
  margin-top: 10px;
}

.Login-RM1 {
  color: #b8b2ad;
  margin-left: 10px;
}

.Login-btn {
  margin-top: 70px;
}

.Blank-btn {
  background-color: rgba(0,123,255,0);
  border-color: rgba(255,255,255,0);
}

.Font-Tan {
  color: #b8b2ad;
}

.Txt-Align-Lt {
  text-align: right;
}

.Txt-Align-Lt {
  text-align: left;
}

.RB-Logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ml-150 {
  margin-left: 150px;
}

.w600 {
  width: 600px;
}

.Login-img1 {
  width: 900px;
  border: groove 7px;
  border-color: #b8b2ad;
}

.rob-logo-img {
  width: 700px;
  height: 200px;
}

