.races-img {
  margin-top: 20px;
  background-color: rgba(0,0,0,0.75);
  border-radius: 300px;
  width: 28px;
}

.subrace-text {
  color: #dfa34e!important;
  font-family: Amarante, cursive;
  font-size: 25px;
}

