.body1 {
  background-image: url("../../images/_BStudio/Background.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-color: rgb(0,0,0);
  background-attachment: fixed;
}

.body2 {
  background-image: url("../../images/_BStudio/bg-Dragon3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1600px;
  background-position: center;
  background-color: rgb(0,0,0);
}

.body3 {
  background-image: url("../../images/_BStudio/bg-Templar1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1600px;
  background-position: center;
  background-color: rgba(0,0,0,0.9);
}

.body4 {
  background-image: url("../../images/_BStudio/bg-Dwarf2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1600px;
  background-position: center;
  background-color: rgb(0,0,0);
  background-attachment: fixed;
}

.body5 {
  background-image: url("../../images/_BStudio/bg-shieldmaiden.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1600px;
  background-position: center;
  background-color: rgb(0,0,0);
}

.section1 {
  color: rgb(113,113,113);
  background-color: rgba(255,255,255,0);
  padding: 30px;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../../images/_BStudio/bg-spotcol-aasiamar.png");
}

.container1 {
  max-height: none;
  height: 1200px;
}

.container-announcement1 {
  width: 2100px;
  max-width: 2100px;
}

.article1 {
  background-color: rgba(244,244,244,0);
}

.pad-top-24 {
  padding-top: 24px;
}

.pad-top-40 {
  padding-top: 40px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-top-110 {
  padding-top: 110px;
}

.sans-serif-font {
  font-family: Roboto, sans-serif;
}

.bethica-font {
  font-family: Roboto, sans-serif;
}

.text-indent-25 {
  text-indent: 25px;
}

.margin-left-16 {
  margin-left: 16px;
}

.box-border1 {
  border-radius: 10.2px;
  box-shadow: 0 0 16px #dfa34e;
  background-color: rgba(0,0,0,0.8);
  color: #dfa34e;
  padding: 20px;
  margin-top: 50px;
  margin-left: 20px;
  max-width: 350px;
  min-width: 350px;
}

.box-border2 {
  border-radius: 10.2px;
  box-shadow: 0 0 16px #dfa34e;
  color: #dfa34e;
  padding: 20px;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 21px;
  background-color: rgba(0,0,0,0.6);
}

.box-border3 {
  border-radius: 10.2px;
  box-shadow: 0 0 16px #dfa34e;
  background-color: rgba(0,0,0,0.8);
  color: #dfa34e;
  padding: 20px;
  margin-top: 50px;
  margin-left: 20px;
  max-width: 700px;
  min-width: 330px;
}

.box-border4 {
  border-radius: 10.2px;
  box-shadow: 0 0 16px #dfa34e;
  background-color: rgba(0,0,0,0.8);
  color: #dfa34e;
  padding: 20px;
  margin-top: 50px;
  margin-left: 20px;
  text-indent: 25px;
}

.box-border5 {
  border-radius: 10.2px;
  box-shadow: 0 0 16px #dfa34e;
  background-color: rgba(0,0,0,0.8);
  color: #dfa34e;
  padding: 20px;
  margin-top: 50px;
  margin-left: 20px;
  text-indent: 25px;
}

.box-img1 {
  background-image: url("../../images/_BStudio/TanHoSim_SYSCOMBAT.jpg");
  background-repeat: no-repeat;
  width: 693px;
  height: 350px;
  margin-bottom: 20px;
}

.sans-serif-font1 {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 200;
  color: #b8b2ad;
}

.sans-serif-font1a {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 200;
  margin: 0px;
  color: #b8b2ad;
}

.sans-serif-font1b {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 200;
  color: #b8b2ad;
}

.sans-serif-font1c {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 200;
  text-indent: 25px;
  color: #b8b2ad;
}

.sans-serif-font1d {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 200;
  text-indent: 25px;
  color: #dc640d;
}

.sans-serif-font2 {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  color: #dfa34e!important;
}

.sans-serif-font2a {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  color: #dfa34e!important;
}

.sans-serif-font2b {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  color: #dfa34e!important;
}

.sans-serif-font2c {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  color: #dfa34e!important;
  padding-top: 25px;
}

.sans-serif-font3 {
  margin-left: 2%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  color: #b8b2ad;
}

#background_image_1, #background_image_2, #background_image_3, #background_image_4, #background_image_5, #background_image_6, #background_image_7, #background_image_8, #background_image_9, #background_image_10 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-size: contain;
  z-index: -1000;
  transition: opacity 2s;
  background-repeat: no-repeat;
}

#background_image_1 {
  background-image: url("../../images/_BStudio/bg-spotcol-aasiamar.png");
  opacity: 1;
}

#background_image_2 {
  background-image: url("../../images/_BStudio/bg-TieflingKnight.png");
  opacity: 0;
}

#background_image_3 {
  background-image: url("../../images/_BStudio/bg-brone.png");
  opacity: 0;
}

#background_image_4 {
  background-image: url("../../images/_BStudio/bg-demongladiator.png");
  opacity: 0;
}

#background_image_5 {
  background-image: url("../../images/_BStudio/bg-dryad.png");
  opacity: 0;
}

#background_image_6 {
  background-image: url("../../images/_BStudio/bg-moonelf.png");
  opacity: 0;
}

#background_image_7 {
  background-image: url("../../images/_BStudio/bg-hag.png");
  opacity: 0;
}

#background_image_8 {
  background-image: url("../../images/_BStudio/bg-whotetroll.png");
  opacity: 0;
}

#background_image_9 {
  background-image: url("../../images/_BStudio/bg-DeathGiant.png");
  opacity: 0;
}

#background_image_10 {
  background-image: url("../../images/_BStudio/BG-spotcol-deepgnome.png");
  opacity: 0;
}

.no-margin {
  margin: 0px;
}

#article1 {
  height: auto;
}

.announcment1 {
  font-size: 24px;
  width: 950px;
  color: #dfa34e!important;
  text-indent: 25px;
  padding-top: 20px;
  background-color: #000000;
  font-family: Amarante, cursive;
}

.container-announcement1 {
  width: 100%;
  max-width: none;
}

#announcement1_paragraphs_container {
  background-color: #000000;
}

#announcement1_paragraph1, #announcement1_paragraph2, #announcement1_paragraph3, #announcement1_paragraph4, #announcement1_paragraph5 {
  width: 100%;
  background-color: transparent;
}

#event_dashboard_button {
  margin-bottom: 50px;
}

#background_smallimage_1, #background_smallimage_2, #background_smallimage_3, #background_smallimage_4, #background_smallimage_5, #background_smallimage_6, #background_smallimage_7, #background_smallimage_8 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-size: 15%;
  background-repeat: no-repeat;
  z-index: -1000;
  opacity: 0;
  transition: opacity 2s;
  background-position: 0 45%;
}

#background_smallimage_1 {
  background-image: URL("DeanSpencer-spotcol-beartrap.png");
  background-position: 15% 30%;
}

#background_smallimage_2 {
  background-image: URL("DeanSpencer-spotcol-dwarfforge.png");
  background-position: 0% 100%;
}

#background_smallimage_3 {
  background-image: URL("DeanSpencer-spotcol-elfarcher.png");
  background-position: 85% 30%;
}

#background_smallimage_4 {
  background-image: URL("DeanSpencer-spotcol-elfspellsword.png");
  background-position: 100% 100%;
}

#background_smallimage_5 {
  background-image: URL("DeanSpencer-spotcol-gnomebard.png");
  background-position: -2% 50%;
}

#background_smallimage_6 {
  background-image: URL("DeanSpencer-spotcol-knightvswerewolf.png");
  background-position: 16% 80%;
}

#background_smallimage_7 {
  background-image: URL("DeanSpencer-spotcol-ogretank.png");
  background-position: 100% 55%;
}

#background_smallimage_8 {
  background-image: URL("DeanSpencer-spotcol-spectralhand.png");
  background-position: 86% 77%;
}

#intro_info {
  max-width: none;
}

@media (max-width: 1199px) {
  #background_smallimage_1, #background_smallimage_2, #background_smallimage_3, #background_smallimage_4, #background_smallimage_5, #background_smallimage_6, #background_smallimage_7, #background_smallimage_8 {
    background-size: 20%;
  }
}

@media (max-width: 795px) {
  #background_smallimage_1, #background_smallimage_2, #background_smallimage_3, #background_smallimage_4, #background_smallimage_5, #background_smallimage_6, #background_smallimage_7, #background_smallimage_8 {
    background-size: 30%;
  }
}

@media (max-width: 575px) {
  #background_smallimage_1, #background_smallimage_2, #background_smallimage_3, #background_smallimage_4, #background_smallimage_5, #background_smallimage_6, #background_smallimage_7, #background_smallimage_8 {
    background-size: 40%;
  }
}

