@model int
@{
    ViewData["Title"] = "Index";
}

<h2 class="text-dark">Main Attribute Selection</h2>
<br />
<form asp-action="AttributeSelection" asp-route-id="@Model">

    <!-- Attribute Selection-->
    <div class="container">
        <h2>Choose your attributes:</h2>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary" id="strongButton" value="" onclick="buttonClicked(this.id)">Strong</button>
                <input type="hidden" id="strong" name="strong">
            </div>
            <div class="col">
                <h4>OR</h4>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" id="robustButton" value="" onclick="buttonClicked(this.id)">Robust</button>
                <input type="hidden" id="robust" name="robust">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary" id="agileButton" value="" onclick="buttonClicked(this.id)">Agile</button>
                <input type="hidden" id="agile" name="agile">
            </div>
            <div class="col">
                <h4>OR</h4>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" id="precisionButton" value="" onclick="buttonClicked(this.id)">Precision</button>
                <input type="hidden" id="precision" name="precision">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary" id="knowledgeableButton" value="" onclick="buttonClicked(this.id)">Knowledgeable</button>
                <input type="hidden" id="knowledgeable" name="knowledgeable">
            </div>
            <div class="col">
                <h4>OR</h4>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" id="headstrongButton" value="" onclick="buttonClicked(this.id)">Headstrong</button>
                <input type="hidden" id="headstrong" name="headstrong">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary" id="charismaticButton" value="" onclick="buttonClicked(this.id)">Charismatic</button>
                <input type="hidden" id="charismatic" name="charismatic">
            </div>
            <div class="col">
                <h4>OR</h4>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" id="attractiveButton" value="" onclick="buttonClicked(this.id)">Attractive</button>
                <input type="hidden" id="attractive" name="attractive">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button type="submit" id="submitButton" value="Save" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-danger" value="attractive" onclick="resetButton()">Reset</button>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_AttributeScriptsPartial");}
}