@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-light" style="background-color: rgba(0,0,0,0.5);">
    <h2>Race Selection</h2>

    <form asp-action="NewCharacter">
        <div class="form-group">
            <label for="characterName">Character's Name</label>
            <input name="Name" type="text" class="form-control" id="characterName" aria-describedby="characterNameHelp" placeholder="The Big Bad Boss">
            <small id="characterNameHelp" class="form-text text-muted">What do you want your character's name to be?</small>
        </div>
        <button type="submit" value="Save" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}