@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Combat Calculator</h5>
            <p class="card-text">This tool is used to automatically calculate combat sequences using all of the rules</p>
            <a class="nav-link btn btn-primary" asp-area="" asp-controller="Beta" asp-action="CombatCalculator">Try Out</a>
            <div class="card-footer">
                <small class="text-muted">Last updated 10/28/2019 5:11 PM</small></p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <div class="card-footer">
                <small class="text-muted">Last updated 10/28/2019 5:11 PM</small></p>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <div class="card-footer">
                <small class="text-muted">Last updated 10/28/2019 5:11 PM</small></p>
            </div>
        </div>
    </div>
</div>
