<div class="footer-dark">
    <footer>
        <div class="row no-margin">
            <div class="col-xl-4">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-4 text-center">
                        <img class="img-fluid d-none d-sm-none d-md-none d-lg-none d-xl-inline aos-init" data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="500" src="~/images/_BStudio/Landing-Page/DeanSpencer-spotcol-drowknight.png">
                    </div>
                    <div class="col-3 text-center">
                        <img class="img-fluid d-none d-sm-none d-md-none d-lg-none d-xl-inline aos-init" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="1500" src="~/images/_BStudio/Landing-Page/DeanSpencer-spotcol-aasiamar.png">
                    </div>
                    <div class="col-xl-4 text-center">
                        <img class="img-fluid d-none d-sm-none d-md-none d-lg-none d-xl-inline aos-init" data-aos="zoom-out" data-aos-duration="3000" data-aos-delay="2000" src="~/images/_BStudio/Landing-Page/DeanSpencer-spotcol-ogretank.png">
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3 class="c1">Services</h3>
                            <ul>
                                <li><a href="#">Web design</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Hosting</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3 class="c1">About</h3>
                            <ul>
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3 class="text-capitalize c1">universal battles book RPG</h3>
                            <p>Universal Battle is a game system designed for Tabletop Role Playing, otherwise known as an RPG. <br></p>
                        </div>
                        <div class="col item social">
                            <a href="https://www.facebook.com/universalbattlesrpg/">
                                <i class="icon ion-social-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="icon ion-social-twitter"></i>
                            </a><a href="#">
                                <i class="icon ion-social-snapchat"></i>
                            </a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        </div>
                    </div>
                    <p class="text-uppercase copyright">universal Battles © 2020</p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="row justify-content-center align-items-center">
                    <div class="col text-center">
                        <img class="img-fluid aos-init" data-aos="zoom-out" data-aos-duration="3000" data-aos-delay="2000"  src="~/images/_BStudio/Landing-Page/DeanSpencer-spotcol-duergarmage.png">
                    </div>
                    <div class="col text-center">
                        <img class="img-fluid aos-init" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="1500"  src="~/images/_BStudio/Landing-Page/DeanSpencer-spotcol-dwarfflamepriest.png">
                    </div>
                    <div class="col text-center">
                        <img class="img-fluid aos-init" data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="500"  src="~/images/_BStudio/Landing-Page/DeanSpencer-spotcol-elfarcher.png">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>