<div class="text-center rob-pug-sponser-footer">
    <div class="row justify-content-center align-items-center pad-top-20">
        <div class="col-12">
            <p>Fantasy Ground Pickup Game VTT Con&nbsp;</p>
            <p>Sponsered by:</p>
        </div>
        <div class="col text-center">
            <img class="img-fluid" src="~/images/_BStudio/PUGCon/PUG-Logo.png">
        </div>
        <div class="col text-center">
            <img class="img-fluid" src="~/images/_BStudio/PUGCon/UB_Logo2.png">
        </div>
        <div class="col text-center">
            <img class="img-fluid" src="~/images/_BStudio/PUGCon/Bethica_logo_edited_final.png">
        </div>
        <div class="col text-center">
            <img class="img-fluid" src="~/images/_BStudio/PUGCon/UB%20Unlimited-02.png">
        </div>
    </div>
</div>