<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Realm of Bethica Website">
    <meta name="author" content="Jeremy Buentello">
    <title>@ViewData["Title"] - ROB</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/ba0a8dbb41.js"></script>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amarante">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amaranth">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia">

    <!-- Icons and Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">

    <!-- Internal -->
    <environment include="Development">
        <link rel="stylesheet" href="~/css/characterSheet.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", required: false)
</head>
<body class="bgc-clr" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">

    <!-- Dark Overlay element -->
    <div onclick="closeNav()" class="overlay"></div>
    <div id="mySidebar" class="sidebar" style="width: 0px;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div id="sidebarTitle" class="text-light">
            <h2>Title</h2>
        </div>

        <div id="sidebarContent" class="text-light">
            <p1>
                This marks your character experience and signifies your current level out of 10. In order to see how much more experience you need to level check out the slider below.
            </p1>
        </div>

        <div id="Beta-Block">
            <hr />
            <div class="alert alert-success" role="alert">
                Welcome BETA Testers! If you have any comments or suggestions please <a href="mailto:beta_suggestions@ubunlimited.com?subject=Beta%20Suggestions&body=Hello%20UB%20Unlimited%20Team!" class="alert-link">click here</a>.
            </div>
        </div>
    </div>


    @*<partial name="_CookieConsentPartial" />*@
    <partial name="_NavbarPartial" />

    @RenderBody()

    <partial name="_FooterPartial" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/sideBar.js" asp-append-version="true"></script>
        <script src="~/js/_BStudio/bs-init.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
