@using ROB.Blazor.Shared.Interfaces.CombatTracker

<span>@Title</span>
<div class="list">
    @if (ListedItems.Count > 0)
    {
        @foreach (string str in ListedItems)
        {
            <span @onclick="(()=>ClickAction(str))" class="@(Icon)"></span><span class="list-item">@str</span>
        }
    }
    else
    {
        <span></span><span class="list-item"></span> <!--This is to provide a blank line when there are no items-->
    }
</div>

@code {
    [CascadingParameter]
    public ICharacter Character { get; set; }

    [Parameter]
    public List<string> ListedItems { get; set; }

    [Parameter]
    public bool Actionable { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public Action<string> ActionClicked { get; set; }

    private void ClickAction(string str)
    {
        if (Actionable)
            ActionClicked?.Invoke(str);
    }
}
