@inject IJSRuntime JSRuntime;
@implements IConsole
@using ROB.Blazor.Shared.Interfaces.CombatTracker

<div class="console-wrapper">
    <h3>Console</h3>
    <div class="console">
        @foreach (string statement in ConsoleStatements)
        {
            <h5>@statement</h5>
        }
    </div>
</div>


@code {
    private List<string> ConsoleStatements = new List<string>();

    public void Log(string message)
    {
        ConsoleStatements.Add(message);

        while (ConsoleStatements.Count > 50)
            ConsoleStatements.RemoveAt(0);

        ScrollToBottom();

        this.StateHasChanged();
    }

    private void ScrollToBottom()
    {
        JSRuntime.InvokeVoidAsync("setScrollToLoc", 4000); //this doesn't work currently but is supposed to keep the scroll at the bottom
    }
}
