.BG-Image-1 {
  background: url(../../images/_BStudio/DCS/Backcover_final_No_LogoEdit_72dpi_01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bgc-blk {
  background-color: rgba(0,0,0,0.75);
}

.bgc-c2 {
  background-color: #b8b2ad!important;
  height: 2px;
}

.bgc-clr {
  border-color: rgba(255,255,255,0);
  background-color: rgba(0,0,0,0);
}

.bgc-mgray {
  background-color: #2a2a2a;
}

.btn-img1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn1 {
  font-size: 25px;
  color: #dfa34e;
  background-color: rgba(255,255,255,0)!important;
  border-color: rgba(255,255,255,0);
}

.c1 {
  color: #dfa34e!important;
  font-family: Amarante, cursive;
}

.c1-wt-600 {
  font-weight: 600;
  color: #dfa34e;
  font-size: 25px;
  font-family: Amarante, cursive;
}

.c2 {
  color: #b8b2ad!important;
  font-family: Amarante, cursive;
}

.c2-wt-300 {
  font-weight: 300;
}

.c2-wt-400 {
  font-weight: 400;
  color: #b8b2ad;
  font-family: Amarante, cursive;
}

.FontYw15 {
  color: #dfa34e;
  font-size: 15px;
  font-family: Amarante, cursive;
}

.h-3 {
  font-size: 30px!important;
  color: #dfa34e;
  font-family: Amarante, cursive;
}

.h-4 {
  font-size: 25px!important;
  color: #dfa34e;
  font-family: Amarante, cursive;
}

.h1 {
  font-size: 70px!important;
  color: #dfa34e;
  font-family: Amarante, cursive;
}

.h1-vm {
  font-size: 1vw;
  color: #dfa34e;
  font-family: Amarante, cursive;
}

.h-2 {
  font-size: 50px;
  color: #dfa34e;
  font-family: Amarante, cursive;
}

.h-2 {
  font-size: 50px;
  color: #dfa34e!important;
  font-family: Amarante, cursive;
}

.h1-vm {
  font-size: 5vw;
  font-size: 3.0vh;
  font-size: 4vmin;
  color: #dfa34e;
  font-weight: 800;
  font-family: Amarante, cursive;
}

.h3 {
  font-size: 30px;
  font-family: Amarante, cursive;
}

.h4 {
  font-size: 24px;
  font-weight: 400;
  font-family: Amarante, cursive;
}

.h2 {
  font-size: 24px;
  font-weight: 400;
  font-family: Amarante, cursive;
}

.h5 {
  font-size: 20px;
  font-family: Amarante, cursive;
}

.ht-5 {
  height: 5px;
}

.img-fluid-1 {
  max-width: 100%;
  height: 235px;
}

.m-10 {
  margin: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-5 {
  margin-left: -4px;
}

.mt-20 {
  margin-top: 0px;
}

.mt-222 {
  margin-top: 222px;
}

.p-10 {
  padding: 10px;
}

.rb-title1 {
  font-size: 60px;
  height: 125px;
  color: #dfa34e!important;
  font-weight: 800;
  font-family: Amarante, cursive;
}

.separator-1 {
  height: 30px;
  background-image: url(../../images/_BStudio/Shared/CharacterCreate_Separator.png);
  background-size: cover;
  background-position: center;
}

.wt-400 {
  font-weight: 400;
}

.wth-150 {
  width: 150px;
}

.wth-300 {
  width: 260px;
}

.wth-45 {
  width: 45px;
}

.wth-50 {
  width: 50px;
}

.wth-800 {
  /*width: 800px;*/
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #000000;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
  font-family: Amarante, cursive;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.wth-150 {
  width: 150px;
}

.mb-0 {
  margin-bottom: 0px;
}

.select-char-header {
  font-size: 50px;
  font-family: Amarante, cursive;
  padding-top: 10px;
  color: #dfa34e;
}

.nav-bar-font {
  font-size: 30px;
  font-family: Amarante, cursive;
  color: #dfa34e!important;
}

.mt-10 {
  margin-top: 10px;
}

.hd-bgc-blk {
  background-color: #000000;
}

